*, * > * {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
html, body {
    height: 100%;
    width: 100%;
}

.notes {
    margin: auto;
    width: 80%;
    border: solid 1px #000;
    background-color: #CFC;
    padding: 10px;
}